<body>
    <section class="Notes">
        <h3>Notes</h3>
        <form action="submit">
            <div>

                <label for="notesbod">Note Text</label>
                <textarea id="notesbod" cols="50" rows="10"></textarea>
            </div>
            <div>

                <label for="notes-title">Note Title</label>
                <input id="notes-title" placeholder="Title" />
                <label for="due">Date Noted</label>
                <input id="due" type="datetime-local" value="" />
                <button type="submit" id="notebut"> Save Note</button>
            </div>
        </form>

        <div id="notelog">
            <ul id="notelist">
            </ul>
        </div>
    </section>
    <section class="todo">
        <form action="submit">
        <h3>To-Do </h3>
        <class="todotitle"/>
            <ul>
                <h5>To Do</h5><input id="todo-title" placeholder="To Do" />
                <h5>Due Date</h5><input
                    id="due"
                    type="datetime-local"
                    value=""
                />
            </ul>
            <button id="todobut"> Save To-Do </button>
        </form>
            <div id="todolog">
                <ul id="todolist">
                </ul>
            </div>
        </div>
    </section>
    <div class="ranact">
        <H4>Huh I really have nothing to do?!</H4>
        <input />
        <button onclick="getactivity()"> Something to do </button>
    </div>
</body>