.Title{
    font-size: 150%;
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    color: #596a79;
    border: 2px solid;
    padding: 10px;
    box-shadow: 1px 1px 50px red, 2px 2px 20px black;
    margin: 20px;
    
}
label[for=title]{
    font-family: cursive;
    font-size: 95%;
}
 
label[for=note-title]{
    box-shadow: 3px 3px #596a79; //shadow around text 

}
.form{
    box-shadow: 3px 3px #596a79;

}

body{
    background-color: #f0ece2;
}

.Notes{
    border-color:#596a79; 
    border: 1%;
    background-color: #dfd3c3;
    width: 99%;
    height: 25%;
    text-align: left;
    color: #596a79;
  
}
.todo{
    border-color:#596a79; 
    border: 1%;
    box-sizing: 50%;
    height: 25%;
    width: 50%;
    color: #596a79;
    display: flexbox;
    justify-content: space-around;
}

.ranact{
    border-color: 2px #596a79;
    background-color: #dfd3c3;
    width: 99%;
    height: 25%;
    align-content: center;
} 

input, label {
    display: block;
}

form
 {
    width: 100%;
    display: flex;
    justify-content: space-between;
 }